@{
    Layout = "layout.cshtml";
}

<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        <a href="/content/wild-spot-prawn-sale-2017"><img src="/files/homepage/slides/hp_slider_prawn-sale-v4.jpg" alt="top-sellers"/></a>
        <a href="/products/top-sellers"><img src="/files/homepage/slides/hp-banner-catalog-spring.jpg" alt="top-sellers"/></a>
        <a href="/products/paleo-friendly-pork"><img src="/files/homepage/homebtmbanners/hp_banner_vc_pork1.jpg" alt="Pork"/></a>
        <a href="/products/wild-salmon-hot-dogs"><img src="/files/homepage/slides/salmon-dogs-hpslider_comingsoon_updatedbanner.jpg" alt="Salmon Dogs"/></a>
    </div>
    <div class="home-content">
        <div>
            <a href="/products/gluten-free">
                <img src="/files/homepage/homebtmbanners/gluten-hp.jpg" width="984" border="0" />
            </a>
            <a href="/products/wild-salmon-sausage-bacon-and-burgers">
                <img src="/files/homepage/homebtmbanners/homebanner_sausagebaconburger.jpg" width="984" border="0" />
            </a>
            <a href="/products/new-at-vital-choice">
                <img src="/files/homepage/homebtmbanners/new%20banner%202017_q1.jpg" width="984" border="0" usemap="#new-products-map" />
            </a>
            <map name="new-products-map">
                <area shape="rect" coords="234,13,448,260" href="/product/yellowfin-tuna-steaks" alt="Yellowfin">
                <area shape="rect" coords="486,13,700,260" href="/product/high-dha-brain-care-vitamin-d3" alt="Brain Care">
                <area shape="rect" coords="737,13,952,260" href="/products/bone-broth-fish-chicken-and-beef" alt="Bone Broths">
            </map>
        </div>
    </div>
</div>