{{!-- idiomatic Handlebars implementation (Phase 4).
     Patterns followed: https://handlebarsjs.com/guide/#simple-expressions,
     https://handlebarsjs.com/guide/builtin-helpers.html (#if, #each),
     https://handlebarsjs.com/guide/partials.html (partials, partial contexts),
     https://handlebarsjs.com/guide/installation/precompilation.html (precompiled execution). --}}
<table>{{#each items}}<tr><td data-tag="{{tag}}">{{name}}</td><td>{{comment}}</td></tr>{{/each}}</table>