<!DOCTYPE html>
<!--[if lt IE 9]>
    <html class="no-js lt-ie9" lang="en">
<![endif]-->
<!--[if gte IE 9]>
    <html class="no-js" lang="en">
<![endif]-->
<!--[if !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @DateTime.Now
    <meta property="og:image" content="/files/catalog/fbdefault2.jpg">
    <meta itemprop="image" content="/files/catalog/googleplus.jpg"/>
    <link rel="image_src" href="/files/catalog/googleplus.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msvalidate.01" content="4A9D524947EE62F01A1A9607511248C4" />
    <link href="//fonts.googleapis.com/css?family=Francois+One" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" href="/assets/miscellaneous/apple-touch-icon.png">
    <link rel="icon" type="img/ico" href="/assets/miscellaneous/favicon.ico">
</head>
<body>
</body>
</html>